#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    macros {
        repeat: repeat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_4 &kp NUMBER_2 &kp NUMBER_4 &kp NUMBER_2 &kp NUMBER_4>;
            label = "REPEAT";
        };

        snip: snip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHFT &kp LEFT_GUI &kp S>;
            label = "SNIP";
        };

        lock: lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp L>;
            label = "LOCK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own

        layer_0 {
            bindings = <
&kp Q  &kp L  &kp Y    &kp P   &kp B    &kp Z    &kp F      &kp O     &kp U      &kp SQT
&kp C  &kp R  &kp S    &kp T   &kp G    &kp M    &kp N      &kp E     &kp I      &kp A
&kp W  &kp J  &kp V    &kp D   &kp K    &kp X    &kp H      &kp DOT   &kp COMMA  &kp MINUS
              &kp ESC  &trans  &kp RET  &kp TAB  &kp SPACE  &kp BSPC
            >;
        };
    };
};
